<% @page_title = "画像投稿" %>

<div class="container">
  <div class="row">
    <div class="col-md-4">

      <%= render 'posts/new', posts: @post %>

    </div>
    <div class="user-contents col-md-8">
    </div>
  </div>
</div>


